<% content_for :head do %>
    <%= javascript_include_tag '//bitmovin-a.akamaihd.net/bitdash/latest/bitdash.min.js' %>
<% end %>
<div id="video-player<%= media.number %>"></div>
<script type="text/javascript">
  var conf = {
    key: "<%= ENV['BITDASH_KEY'] %>",
    source:    {
      hls: "<%= media.file_url %>",
    },
    playback: {
      autoplay: true,
      skin : { screenLogoImage : "" },
    },

    tweaks : {
      autoqualityswitching: true,
      max_buffer_level: 40,
    }

    // skin : { screenLogoImage : "" },
  };
  var player = bitdash("video-player<%= media.number %>");
  player.setup(conf);
</script>
