    <section class="hero-fullscreen hero-video overlay">   
      <video youtube-video-id="nV28NmniJ-I" id="vossen-youtube"></video>
      <div class="hero-container">
        <div class="hero-content text-center">   
          <div class="col-sm-12 mr-auto white text-center pt20">   
            <p class="subheading">
              N2ME.TV has No Strings Attached! There are No Contracts and No Buffering.<br> Stream live TV, Movies, Music, Events, Games, and E-Books!
            </p>
            <h1 class="large mt20 mb20">
              Say <span class="bold">Goodbye</span> to Your <span class="bold">Cable Bill!</span>
            </h1> 
            <p class="hidden-xs">
              On demand access to your favorite shows on 350 streaming live TV channels. Movies, Online Games, Concerts, Boxing, &amp; More.<br>
              Buy a package or per Channel! Buy individual channels from $0.99
            </p>
            <a href="<%= new_user_registration_path %>" class="btn btn-lg btn-primary btn-scroll mt30">
              7 Day Free Trial &gt; Signup Now!
            </a>  
          </div> 
        </div>
      </div>   
        
    </section>
    <!-- End Hero --> 
  <!-- Callout -->
  <section class="pt40 pb20">
    <div class="container"> 
      <div class="row">             
        <div class="col-md-12 text-center">
            <h5 class="subheading">
              All your favorite Tv Channels, Movies, Games, Music Ebooks &amp; More!
            </h5>
            <h2>
              No <span class="bold">Contracts</span> &amp; NO  <span class="bold">Buffering</span>
            </h2> 
        </div> 
      </div>
    </div>
  </section>
  <!-- End Callout -->     
  <!-- Box Style 7, 8 -->
  <section class="parallax overlay bg-shortcodes" data-section-index="3" data-top="531">
    <div style="z-index: 0; width: 100%; top: 0px; position: fixed; overflow: hidden; min-height: 75%; height: 481px; transform: translate3d(0px, 871px, 0px);" class="parallax-bg" data-holder-index="3">
      <img style="max-width: none; width: 1920px; height: auto; position: fixed; top: 0px; left: 0px; backface-visibility: hidden; margin-left: -248px; opacity: 1; transform: translate3d(0px, -408.6px, 0px);" id="parallax-bg-img-3" src="/frontpage/bg-shortcodes.jpg" data-width="1920" data-height="1170">
    </div>
    <div class="container pt60 pb60">
      <div class="row">
        <div class="col-md-6 col-sm-12 mt40 mb40">
          <div class="box box-style8">
            <a><i class="white fa fa-cloud-upload size-4x"></i></a>
            <div class="pl80">
              <h4 class="white">
                Subscribe <strong>ONLY</strong> to the Channels <strong>YOU</strong> Watch<br> 
                Choose From Monthly A La Carte Channels
              </h4>
              <img src="/frontpage/channel-logos.png" class="img-responsive" alt="">
            </div> 
          </div>
        </div>
        <div class="col-md-6 col-sm-12 mt40 mb40">
          <div class="box box-style7">
              <a ><i class="white fa fa-refresh size-4x"></i></a>
              <div class="pl80">
                <h4 class="white">Live TV &amp; Streaming Media Your Way!<br>
                  The Ultimate Personalized Media Platform</h4>
               <img src="/frontpage/watch-anywhere-banner.png" class="img-responsive" alt="">
              </div>  
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Box Style 7, 8 -->
     
  <!-- Image Column -->
  <section class="pt40 pb80">
    <div class="container">
      <div class="vertical-align">
        <div class="col-md-6">
          <div class="slider-block-1 owl-carousel navigation-thin pagination-in">
            <%= image_tag "/frontpage/6.png", class: "img-responsive mr-auto" %>
            <%= image_tag "/frontpage/movie-banner.jpg", class: "img-responsive mr-auto" %>
            <%= image_tag "/frontpage/6.png", class: "img-responsive mr-auto" %>
          </div>
        </div>
        <div class="col-md-6 p5percent">
            <h2>Meet The <strong>N2ME SuperCloud</strong></h2> 
            <h4 class="subheading">Unmatched Streaming Content Library | All Your Entertainment in One Place!</h4>
          <p class="mt30">Imagine having all favorite TV, movies, music, chat & Ebook services all in one place, for one low monthly price! Join the N2ME revolution and enjoy all our Cloud streaming services today!</p>
            <a href="<%= products_path %>" class="btn btn-lg btn-primary btn-circle btn-appear mt20"><span>Purchase Now <i class="fa fa-check"></i></span></a>
        </div>
      </div>
    </div>
  </section>          
  <!-- End Image Column -->
   <!-- Features -->  
   <a name="content"></a>
  <section class="parallax overlay bg-img-6" data-section-index="5" data-top="1539">
    <div style="z-index: 0; width: 100%; top: 0px; position: fixed; overflow: hidden; min-height: 75%; height: 431px; transform: translate3d(0px, 1944px, 0px);" class="parallax-bg" data-holder-index="5">
      <img style="max-width: none; width: 1920px; height: auto; position: fixed; top: 0px; left: 0px; backface-visibility: hidden; margin-left: -248px; opacity: 1; transform: translate3d(0px, -424.941px, 0px);" id="parallax-bg-img-5" src="/frontpage/bg-6.jpg" data-width="1920" data-height="1170">
    </div>
    <div class="container pt40 pb40">                      
      <div class="row">
        <div class="col-md-12 text-center white progress-circle-icon">
          <h2>More Reasons to Subscribe</h2>
          <div class="progress-circle style-1" data-circle-percent="64" data-circle-text="Live TV">
            <i class="fa fa-television"></i>
            <!-- Change circle percent & text in attributes above -->
            <svg class="progress-svg">
              <circle r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle>
              <circle class="bar" r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0" style="stroke-dashoffset: 321.536;"></circle>
            </svg>
          </div>
          
          <div class="progress-circle style-1" data-circle-percent="44" data-circle-text="Movies">
            <i class="fa fa-film"></i>
            <!-- Change circle percent & text in attributes above -->
            <svg class="progress-svg">
              <circle r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle>
              <circle class="bar" r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0" style="stroke-dashoffset: 221.056;"></circle>
            </svg>
          </div>
          
          <div class="progress-circle style-1" data-circle-percent="86" data-circle-text="Music">
            <i class="fa fa-music"></i>
            <!-- Change circle percent & text in attributes above -->
            <svg class="progress-svg"><circle r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle><circle class="bar" r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0" style="stroke-dashoffset: 432.064;"></circle></svg>
          </div>
          
          <div class="progress-circle style-1" data-circle-percent="52" data-circle-text="Live Events">
            <i class="fa fa-bullhorn"></i>
            <!-- Change circle percent & text in attributes above -->
            <svg class="progress-svg"><circle r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0"></circle><circle class="bar" r="80" cx="90" cy="90" fill="transparent" stroke-dasharray="502.4" stroke-dashoffset="0" style="stroke-dashoffset: 261.248;"></circle></svg>
          </div>
              
        </div>
      </div>
    </div>
  </section>
  <!-- End Features -->      
  <!-- Image Column -->
  <section class="pt20 pb80">
    <div class="container">
      <div class="vertical-align">
        <div class="col-md-6 p5percent">
            <h2>Watch <strong>LIVE TV</strong> On Any <strong>Device,</strong> Any Time - <strong>Period!</strong></h2> 
            <h4 class="subheading">Access: Live TV | Movies | Music | Ebooks | Games | &amp; More!</h4>
            <p class="mt30">Access our content on ANY device. Web, Phones, Tablets, TV's, Game Systems, &amp; More! Use your existing Apple, Android, Roku, &amp; TV Apps for a personalized experience, or simply enjoy your favorite TV shows directly through your web browser on a PC or Mac. Your account credentials are valid for accessing N2Me Media on all devices.</p>
            <p>Stop suffering through hundreds of channels just to find nothing on TV. Start enjoying the best of live TV without the overpriced Cable Company</p>
          <a href="<%= products_path %>" class="btn btn-lg btn-primary btn-circle btn-appear mt20"><span>Purchase Now <i class="fa fa-check"></i></span></a>
        </div>
        
        <div class="col-md-6">
          <div class="slider-block-1 owl-carousel navigation-thin pagination-in">
            <%= image_tag "/frontpage/mobile2.jpg", class: "img-responsive mr-auto" %>
            <%= image_tag "/frontpage/mobile3.png", class: "img-responsive mr-auto" %>
            <%= image_tag "/frontpage/mobile4.jpg", class: "img-responsive mr-auto" %>
          </div>
        </div> 
          
      </div>
    </div>
  </section>            
  <!-- End Image Column -->

  <!-- Skills -->
  <section class="parallax overlay bg-img-3" data-section-index="7" data-top="2589">
    <div style="z-index: 0; width: 100%; top: 0px; position: fixed; overflow: hidden; min-height: 75%; height: 516px; transform: translate3d(0px, 2994px, 0px);" class="parallax-bg" data-holder-index="7">
      <img style="max-width: none; width: 1920px; height: auto; position: fixed; top: 0px; left: 0px; backface-visibility: hidden; margin-left: -248px; opacity: 1; transform: translate3d(0px, -172.941px, 0px);" id="parallax-bg-img-7" src="/frontpage/bg-3.jpg" data-width="1920" data-height="1170">
    </div>  
    <div class="container pt70 pb70">   
      <div class="row-flex-center">

        <div class="col-md-5 text-left pr30 mt40 mb50 white">   
    
          <div class="video-container">
            <iframe src="http://player.vimeo.com/video/115919099?title=0&amp;byline=0&amp;portrait=0&amp;color=fff" allowfullscreen></iframe>
          </div>                   
        </div>

        <div class="col-md-7 mt60 mb40 white">  
          <div class="progress-bars-3">
            <p>Live TV Channels</p>
            <div class="progress white" data-percent="10%">
              <div class="progress-bar" style="width: 10%;">
                <span class="progress-bar-tooltip">250</span>
              </div>
            </div>
            <p>Movie Database</p>
            <div class="progress white" data-percent="25%">
              <div class="progress-bar progress-bar-primary" style="width: 25%;">
                <span class="progress-bar-tooltip">15000</span>
              </div>
            </div>
            <p>Music Library</p>
            <div class="progress white" data-percent="70%">
              <div class="progress-bar progress-bar-primary" style="width: 70%;">
                <span class="progress-bar-tooltip">4000000</span>
              </div>
            </div>
            <p>Ebooks</p>
            <div class="progress white" data-percent="82%">
              <div class="progress-bar progress-bar-primary" style="width: 82%;">
                <span class="progress-bar-tooltip">350000</span>
              </div>
            </div> 
             <p>Games</p>
            <div class="progress white" data-percent="82%">
              <div class="progress-bar progress-bar-primary" style="width: 82%;">
                <span class="progress-bar-tooltip">250</span>
              </div>
            </div>  
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Skills -->

  <!-- Fun Facts -->
  <section id="fun-facts" class="bg-dark">
    <div class="container-fluid"> 
      <div class="row">

        <div class="col-sm-3 counter"> 
          <h1>350</h1> 
          <h5>Live TV Channels (HD Available)<br>
          Your Favorite TV Shows, Anywhere</h5> 
        </div>
        <div class="col-sm-3 counter"> 
          <h1>14,999</h1> 
          <h5>N2ME's Exclusive Movie Database - New Releases &amp; Fan Favorites</h5> 
        </div>
        <div class="col-sm-3 counter"> 
          <h1>500,000</h1> 
          <h5>eBooks, One of the Largest Downloadable Librarys Available</h5> 
        </div> 
        <div class="col-sm-3 counter"> 
          <h1>250</h1> 
          <h5>Countries Around the World! N2ME's Supercloud™ Global </h5> 
        </div>

      </div> 
    </div>
  </section>
  <!-- End Fun Facts -->
      
 <!-- Start Price List -->
  <a name="pricing"></a>
  <section class="pt80 pb40">
    <div class="container">
      <div class="row"> 
        <div class="col-md-12 text-center">
          <h5 class="subheading">All Your Favorite TV Channels, Movies, Games, Music Ebooks &amp; More!</h5>
          <h4>Build Your own Customizable TV Guides, Watch List, Music Stations, Favorites &amp; More!</h4>
          <h2>Stop <span class="bold">Paying For Channels</span>You Don't <span class="bold">Watch!</span></h2>
          <h3>Customizable Monthly Packages &amp; Individual Channels Available<br>Say Goodbye to your Cable Bill</h3> 
           
        </div>
        <div class="col-md-3 price-table">
          <div class="price-box"> 
            <h4>Basic</h4>
            <h2 class="price-price">  
                <span>FREE</span> 
            </h2>
            <div class="price-features">  
              <h5>Limited Live TV Channels</h5>
              <p>Tier 1 Movie Database</p>
              <p>SuperCloud's eBook Library</p>
              <p>Over 150 Online Games</p>
              <p>Streaming Music Access</p>
              <p>Chat &amp; Video Social Network</p> 
            </div>
            <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-md btn-appear"><span>Sign Up Now <i class="fa fa-arrow-right"></i></span></a>
          </div>
        </div> 

        <div class="col-md-3 price-table">
          <div class="price-box"> 
            <h4>Cloud French</h4>
            <h2 class="price-price">
              <span>$12.99<span>/ mo</span></span>
            </h2>
            <div class="price-features">  
              <h5>Live French TV Channels</h5>
              <p>All BASIC Plan Channels +</p>
              <p>Over 150 French Channels</p> 
              <p>Tier 1 Movie Database</p>
              <p>SuperCloud's eBook Library</p>
              <p>Over 150 Online Games</p>
              <p>Streaming Music Access</p>
              <p>Chat &amp; Video Social Network</p> 

            </div>
            <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-md btn-appear"><span>Sign Up Now <i class="fa fa-arrow-right"></i></span></a>
          </div>
        </div> 
        
        <div class="col-md-3 price-table">
          <div class="price-box"> 
            <h4>Cloud Latino</h4>
            <h2 class="price-price">
                <span>$14.99<span>/ mo</span></span>
            </h2>
            <div class="price-features">  
                <h5>Live Español TV Channels</h5>
                <p>All BASIC Plan Channels +</p>
                <p>Over 175 Español Channels</p> 
                <p>Super Cloud's Movie Database</p>
                <p>SuperCloud's eBook Library</p>
                <p>Over 150 Online Games</p>
                <p>Streaming Music Access</p>
                <p>Chat &amp; Video Social Network</p> 
            </div>
            <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-md btn-appear"><span>Sign Up Now <i class="fa fa-arrow-right"></i></span></a>
          </div>
        </div> 
        
        <div class="col-md-3 price-table-featured">
          <div class="price-box"> 
            <h4>Cloud International</h4>
            <h2 class="price-price">
                <span>$24.99<span>/mo</span></span>
            </h2>
            <div class="price-features">  
                <h5>All Our International Programming</h5>
                <p>All BASIC Plan Channels +</p>
                <p>Cloud Latino &amp; French Channels</p> 
                <p>Super Cloud's Movie Database</p>
                <p>SuperCloud's eBook Library</p>
                <p>Over 150 Online Games</p>
                <p>Streaming Music Access</p>
                <p>Chat &amp; Video Social Network</p> 
            </div>
            <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-md btn-appear"><span>Sign Up Now <i class="fa fa-arrow-right"></i></span></a>
          </div>
        </div>

      </div>
    </div>
  </section>        
  <!-- End Price List --> 
  <hr class="separator center">
      
      <!-- Pricing -->
      <section class="pt20 pb20">
          <div class="container">
              <div class="vertical-align">

                  <div class="col-md-6">
                      <h2>Premium Add-Ons</h2>
                      <h3>Movie Channels | VOD | Live Events</h3>
                      <hr class="separator left">
                      <h4 class="mt30">Choose from N2ME's Add On Cloud Services:</h4>
                      <ul>
                      <li><strong class="text-primary">Live Streaming Events:</strong> Festivals | Boxing &amp; MMA | Concerts</li>
                      <li><strong class="text-primary">Premium Movie &amp; VOD Channels:</strong> HBO | Showtime | Starz | CineMax | Encore<p></p></li>
                      </ul>
                      
                      <p> Enjoy on demand Box office hits, groundbreaking series, documentaries and sports. Watch ALL Your favorite Commercial-free original series</p> 
                        <!-- Team -->
     
                      <div class="col-md-3 team"> 
                          <div class="team-container">
                              <div class="team-image">
                                  <img src="/frontpage/1.jpg" class="img-responsive" alt="">
                              </div> 
                              <div class="team-caption">
                                  <div>
                                      <div>
                                          <h4>Live Concerts</h4>
                                          <p>Live HD Feeds</p>
                                          <ul> 
                                            <li class="social-icon"><a href="#" class="live-tv" data-title="Live Concerts" data-href="<%= media_path(605253547, :modal => true) %>" ><i class="fa fa-play"></i></a></li> 
                                          </ul> 
                                      </div>
                                  </div>
                              </div>  
                          </div> 
                      </div>          
                      <div class="col-md-3 team">
                          <div class="team-container">
                              <div class="team-image">
                                  <img src="/frontpage/2.jpg" class="img-responsive" alt="">
                              </div> 
                              <div class="team-caption">
                                  <div>
                                      <div>
                                          <h4>Music Festivals</h4>
                                          <p>Live HD Feeds</p>
                                          <ul> 
                                            <li class="social-icon"><a href="#" class="live-tv" data-title="Music Festivals" data-href="<%= media_path(604229700, :modal => true) %>" ><i class="fa fa-play"></i></a></li> 
                                          </ul> 
                                      </div>
                                  </div>
                              </div>  
                          </div>    
                      </div>  
                      <div class="col-md-3 team">
                          <div class="team-container">
                              <div class="team-image">
                                  <img src="/frontpage/3(1).jpg" class="img-responsive" alt="">
                              </div> 
                              <div class="team-caption">
                                  <div>
                                      <div>
                                          <h4>Boxing Events</h4>
                                          <p>Live HD Feeds</p>
                                          <ul> 
                                            <li class="social-icon"><a href="#" class="live-tv" data-title="Boxing" data-href="<%= media_path(604741580, :modal => true) %>" ><i class="fa fa-play"></i></a></li> 
                                              
                                          </ul> 
                                      </div>
                                  </div>
                              </div>  
                          </div>  
                      </div> 
                      <div class="col-md-3 team"> 
                        
                          <div class="team-container">
                              <div class="team-image">
                                  <img src="/frontpage/4.jpg" class="img-responsive" alt="">
                              </div> 
                              <div class="team-caption">
                                  <div>
                                      <div>
                                          <h4>MMA Events</h4>
                                          <p>Live HD Feeds</p>
                                          <ul> 
                                              <li class="social-icon"><a href="#" class="live-tv" data-title="MMA" data-href="<%= media_path(604741578, :modal => true) %>" ><i class="fa fa-play"></i></a></li> 
                                          </ul> 
                                      </div>
                                  </div>
                              </div>  
                          </div> 

                      </div>
                  </div>
                      
           
      <!-- End Team -->   
      
                  
                  
                  <div class="col-md-6">
                  
                      <div class="col-md-6 price-table event-price">
                          <div class="price-box"> 
                              <h4>HBO | ShowTime | Starz</h4>
                              <h2 class="price-price">
                                  <span>$14.99</span>
                              </h2>
                              <div class="price-features">  
                                  <h5>Choose From:</h5>
                                  <p>HBO Channel Package</p> 
                                  <p>Showtime Channels</p>
                                  <p>Starz Channels</p> 
                              </div>
                              <a href="<%= products_path %>" class="btn btn-primary btn-md btn-appear"><span>Subscribe Now! <i class="fa fa-arrow-right"></i></span></a>
                          </div>
                      </div>  
                      <div class="col-md-6 price-table-featured event-price">
                          <div class="price-box"> 
                              <h4>Premium Movie &amp; Video on Demand Channels</h4>
                              <h2 class="price-price">
                                  <span>$24.99</span>
                              </h2>
                              <div class="price-features">  
                                  <h5>Full Premium Access:</h5>
                                  <p></p>
                                  <p>HBO | Starz | Showtime</p> 
                                  <p>Premium Channel Partners:</p>
                                  <p>Hollywood.TV, MR. Pink, WCB</p>
                              </div>
                              <a href="<%= products_path %>" class="btn btn-primary btn-md btn-appear"><span>Subscribe Now <i class="fa fa-arrow-right"></i></span></a>
                          </div>
                      </div> 
                  </div>

              </div>

              </div>
          
      </section>            
      <!-- End Pricing -->  
<!-- Callout -->
      <a name="portfolio"></a>
      <section class="pt40 pb20">
          <div class="container"> 
              <div class="row">             

                  <div class="col-md-12 text-center">
                      <h5 class="subheading">All Your Favorite TV Channels, Movies, Games, Music Ebooks &amp; More!</h5>
                      <h2>N2ME Channels &amp; Media Partners<br> <span class="bold">Free Previews</span></h2>
                      <h6>Powered by Supercloud™</h6>
                     
                  </div> 

              </div>
            <hr class="separator center">
          </div>   
      </section>
      <!-- End Callout -->
        
<!-- Previews Section -->
      <section class="pt10 pb70">
          <div class="container"> 
              <div class="uk-slidenav-position">
                  <div class="row">
                    <div class="row__inner">
                      <%
                        ids = [252485534, 252997543, 52293608, 252485536, 252997525,250949735, 252485540,251973892, 252485547, 252997532, 252997556, 251973893,252485553]
                        pictures = [1,2,3,4,5,7,8,9,10,11,12,13,14]
                      %>
                      <% ids.each_with_index do |id,i| %>
                        <% m = Medium.find_by_number(id) %>
                        <% next unless m %>

                        <div class="tile">
                          <div class="tile__media">
                            <a class="live-tv" data-title="<%= m.title %>" data-href="<%= media_path(ids[i], :modal => true) %>">
                              <%= image_tag "/frontpage/#{pictures[i]}.png", class: "img-responsive", alt: "#" %>
                            </a>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <a href="" class="previous uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
                    <a href="" class="next uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>
                  </div>
              </div>
          </div>
      </section>
      <!-- End Previews -->  
      
      <!-- Callout -->
      <section class="parallax overlay bg-shortcodes" data-section-index="14" data-top="5401"><div style="z-index: 0; width: 100%; top: 0px; position: fixed; overflow: hidden; min-height: 75%; height: 377px; transform: translate3d(0px, 5869px, 0px);" class="parallax-bg" data-holder-index="14"><img style="max-width: none; width: 1920px; height: auto; position: fixed; top: 0px; left: 0px; backface-visibility: hidden; margin-left: -248px; opacity: 1; transform: translate3d(0px, -242.541px, 0px);" id="parallax-bg-img-14" src="/frontpage/bg-shortcodes.jpg" data-width="1920" data-height="1170"></div>
          <div class="container pt80 pb80"> 
              <div class="row pt20">            

                  <div class="col-md-12 text-center white">
                      <h5 class="subheading">What are you Waiting For?</h5>
                      <h1><span class="bold">Cut the Cord NOW!</span></h1>
                      <a href="<%= products_path %>" class="btn btn-lg btn-primary btn-circle btn-appear mt40"><span>Join N2ME Now | Free 7 Day Trial<i class="fa fa-check"></i></span></a>
                  </div> 

              </div>
          </div>
      </section>
      <!-- End Callout -->  
         <!-- Start Footer 2 -->
      <a name="contact"></a>
      <footer id="footer-2" class="pt80 pb50">

          <img src="/frontpage/footer-logo.png" alt="#" class="mr-auto img-responsive"> 
          <ul>
              <li><a href="https://twitter.com/N2meTV"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/n2metv"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://instagram.com/n2metv"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.pinterest.com/n2metv/"><i class="fa fa-pinterest"></i></a></li> 
              <li><a href="https://plus.google.com/u/0/103265953848860159549/posts"><i class="fa fa-google"></i></a></li> 
          </ul>
          <a href="https://beta.n2me.tv/" target="_blank"><strong>Join the N2ME Revolution | Free 7 Day Trial</strong></a>
          <p>© Copyright 2016 SuperCloud, Inc. | All rights reserved</p>

      </footer>
      <!-- End Footer 2 --> 

      <!-- Start Back To Top -->
      <a id="back-to-top" style="opacity: 0;"><i class="fa fa-angle-up "></i></a>
      <!-- End Back To Top --> 
      
      <!-- Scripts -->

<!-- Modal -->
<div id="live-tv" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Live TV</h4>
      </div>
      <div class="modal-body">
        <iframe class="live-tv" src="" width="100%" height="325px;" style="border: 0px; background-color:#0f1112;"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function(e){
      $('a.live-tv').click(function(){
        $('#live-tv .modal-title').text($(this).data('title'))
        $('iframe.live-tv').attr('src', $(this).data('href'))
        $("#live-tv").modal('show')
        return false
      })

      $("#live-tv").on('hide.bs.modal', function(){
        $('iframe.live-tv').attr('src', '')
        setTimeout(function(){
          $(document.body).scrollTop($('a[name="portfolio"').offset().top);
        }, 800)
      })
      var slider = new Slider()
    });
  </script>
<% end %>
