<div id="free-trial" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Enter credit card to start "7 Day Free Trial"</h4>
      </div>
      <div class="modal-body">
        <div class="new-subscription">

              <div class="sub-panel">
                <div class="row main">
                    <%= form_for(current_user, url: users_start_free_trial_path, html: { method: :post}) do |f| %>
                    <div class="row form-row">
                      <div class="col-sm-6">
                        <div class="field">
                          <div class="field-label">First name:</div>
                          <input type="text" name="first_name" id="first_name">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="field">
                          <div class="field-label">Last name:</div>
                          <input type="text" name="last_name" id="last_name">
                        </div>
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-sm-9">
                        <div class="field">
                          <div class="field-label">Card Number:</div>
                          <input type="text" name="first_name" id="card_number">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="field">
                          <div class="field-label">CVV:</div>
                          <input type="password">
                        </div>
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-sm-5">
                        <div class="field">
                          <div class="field-label">Expires On Month:</div>
                          <select name="expire_month" class="form-control">
                            <% 1.upto(12) do |m| %>
                              <option value="<%= m %>"><%= m.to_s.rjust(2, '0') %></option>
                            <% end %>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="field">
                          <div class="field-label">Year:</div>
                          <select name="expire_month" class="form-control">
                            <% year = Date.today.year.to_s[-2..-1].to_i %>
                            <% 10.times do |n| %>
                              <option value="<%= year + n %>"><%= year + n %></option>
                            <% end %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row form-row checkout-row">
                      <div class="col-sm-12">
                        <div class="pull-right">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-default checkout-btn">Start Free Trial</button>
                        </div>
                      </div>
                    </div>
                    <% end %>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>